* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Vegano {
    position: relative;
    width: 100%;
    height: 120px;
    top: 50px;
}


.amostras {
    position: relative;
    width: 80%;
    height: 90px;
    left: 15%;
    top: 5%;
}
.img {
    position: relative;
    width: 5%;
    top: 15px;
    height: 59px;
    left: 0%;
    background: url(../imagens/folha.svg);
    background-size: cover;
}

.patinha {
    position: relative;
    width: 20%;
    height: 90px;
    left:7%;
    top: -40px;
}
.patinha h2 {
    position: relative;
    font-size: 20px ;
}

.linha {
    position: relative;
    width: 1px;
    left: 300px;
    height: 50px;
    top: -120px;
    border-right: 1px solid #949494;
}

.imge {
    position: relative;
    width: 6%;
    top: -175px;
    height: 54px;
    left: 30%;
    background: url(../imagens/pata.svg);
    background-size: cover;
}

.folha {
    position: relative;
    width: 19%;
    height: 60px;
    left:38%;
    top: -234px;
}

.folha h2 {
    position: relative;
    font-size: 20px ;
}

.linha1 {
    position: relative;
    width: 1px;
    left: 650px;
    height: 50px;
    top: -285px;
    border-right: 1px solid #949494;
}

.imgem {
    position: relative;
    width: 5%;
    top: -337px;
    height: 54px;
    left: 62%;
    background: url(../imagens/agua.svg);
    background-size: cover;
}

.agua {
    position: relative;
    width: 17%;
    height: 60px;
    left:69%;
    top: -394px;
}

.agua h2 {
    position: relative;
    font-size: 20px ;
}