
.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 2% 0;
  position: relative;
  top: 40px;
  justify-content: space-around;
}

.container span{
  color: #98B020;
  font-weight: bold;
  font-size: 18px;
}